/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');


/*HEADER*/
#icone {
    color: #000000;
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 2rem;
    letter-spacing: -0.015em;
    margin-left: 23rem;
}

#link-hotel{
      background-color: #E28065;
      color: #ffffff;
      border: none;
      margin-left: 18rem;
      margin-right: 0.5rem;
      font-family: 'Montserrat';
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: -0.015em;
      text-align: center;
}
#link-carros {
    background-color: #9AC1AF;
     color: #ffffff;
     border: none;
     margin-left:  0.5rem;
     margin-right: 0.5rem;
     font-family: 'Montserrat';
     font-size: 1.2rem;
     font-weight: 400;
     letter-spacing: -0.015em;
     text-align: center;
}

#link-restaurantes {
    background-color: #03588C;
      color: #ffffff;
      border: none;
      margin-right: 0.5rem;
      margin-left: 0.5rem;
      font-family: 'Montserrat';
      font-size: 1.2rem;
      font-weight: 400;
      letter-spacing: -0.015em;
      text-align: center;
}


#card-hotel {
    background-color: #E28065;
    text-decoration: none;
    color: #ffffff;
    border: none;
}


/*TITULO HOTEIS*/
.hoteis_titulo {
    color: #E28065;

}
#card_hoteis{
    background-color: #E28065;
    border: none;
}
#textos-hoteis{
     font-family: 'Montserrat';
     font-size: 0.8rem;
     font-weight: 600;
}

/*CONTAINER HOTEIS*/
.hoteis_carrossel {
    background-color: #E28065;
}
.btn{
    background-color: #ECB45B;
    border-radius: 30px;
}

#titulo-hoteis{
    font-family: 'Montserrat';
   font-weight:   900;
    font-size: 1.3rem;
}



/*CONTAINER CARROS*/
.container_carros{
    padding-top: 50px;
}

/*TEXTO CARROS COR*/
.container_carros h3{
    color: #9AC1AF;
}
     

/*COR FUNDO CARROSEL CARROS*/
.carousel_carros{
    background-color: #9AC1AF;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*CONTAINER RESTAURANTES*/
.container_restaurantes{
    padding-top: 50px;
}

/*COR FUNDO CARROSEL RESTAURANTES*/
.carousel_restaurantes{
    background-color: #03588C;
    padding-top: 50px;
    padding-bottom: 50px;
}

/*TEXTO RESTAURANTES COR*/
.container_restaurantes h3{
    color: #03588C;
}

/*MARGIN TOP IMAGEM RESTAURANTE*/
.carousel_restaurantes div.card img{
    padding-top: 15px;
}

/*DIV SP*/
.container_saopaulo{
    display: flex;
    height: 765px;
    margin-top: 75px;
    align-items: center;
}

.imagemsp{
    margin-left: 2rem;
    display: inline-block;
}
 #card-sp{
     background-color: rgba(95, 158, 160, 0);
     border:none;
 }
#teste{
    color: #ECB45B;
}

/*TEXTO SP*/
.textosp{
    max-width: 20%;
    margin-top: 20rem;
    margin-right: 2rem;
    margin-left: 5rem;
    text-align: right;
    color: white;

}

.footer{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 10px;
}

.logotype{
    max-width: 40px;
    max-height: 40px;
    opacity: .5;
    margin: 10px;
}

@media (min-width: 769px) and (max-width: 1200px) {
    /*TEXTO SP*/
    .textosp {
        max-width: 30%;
        margin-top: 20rem;
        margin-right: 2rem;
        margin-left: 5rem;
        text-align: right;
        color: white;

    }
    .imagemsp{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-inner .active.col-md-4.carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }

        /*TEXTO SP*/
        .textosp {
            max-width: 60%;
            margin-top: 20rem;
            margin-right: 2rem;
            margin-left: 5rem;
            text-align: right;
            color: white;

        }
        .imagemsp{
            display: none;
        }

}
@media (min-width: 576px) and (max-width: 768px) {
    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner .active.col-sm-6.carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

}
/* MD */
@media (min-width: 768px) {

    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
    
     
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner .active.col-lg-3.carousel-item + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%;  /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }

   

}

@media (min-width: 600px) and (max-width: 1200px) {

    /*HEADER*/
    #icone {
        color: #000000;
        font-family: 'Montserrat';
        font-weight: bold;
        font-size: 1.5rem;
        letter-spacing: -0.015em;
        margin-left: 6.5rem;
    }

    #link-hotel {
        background-color: #E28065;
        color: #ffffff;
        border: none;
        margin-left: 28rem;
        margin-right: 0.5rem;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.015em;
        text-align: center;
    }

    #link-carros {
        background-color: #9AC1AF;
        color: #ffffff;
        border: none;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.015em;
        text-align: center;
    }

    #link-restaurantes {
        background-color: #03588C;
        color: #ffffff;
        border: none;
        margin-right: 0.5rem;
        margin-left: 0.5rem;
        font-family: 'Montserrat';
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: -0.015em;
        text-align: center;
    }

}

@media (min-width: 50px) and (max-width: 800px) {

/*TEXTO SP*/
.textosp {
    text-align: center;
    min-width: 100%;
    color: white;
    margin-left: 1.8rem;
    margin-right: 2rem;
    margin-top:2rem;
    padding-left: 0rem;
}
     /*HEADER*/
     #icone {
         display: none;

     }
.imagemsp {
    display: none;
}
}